body{
    background-color: #ffe6cf;
   }
   header{
    text-align: center;
    height: 100px;
    padding-top: 1px;
    background-color: #ff9933;
    color: #FFFFFF;
    font-size: x-large;
   }
   h3{
    margin-top: 2px;
    text-align: center;
    background-color: #ffbf80;
   }
   form{
    width: 45%;
    display: inline-block;
    margin: 20px;
   }
   footer{
    margin-top: 3%;
    text-align: center;
   }